page-search {
    .sear{
        height:65px;
        background-color: #ededed;
    }
    .se{
        border:1px solid  #bbb9b9;
        margin: 10px 5px;
        height: 30px;
        line-height: 30px;
        border-radius: 5px;
        a{
            color: #969393;
            font-size: 14px;
        }
        
    }
    
}
